%h1 Listing cidades

%table
  %thead
    %tr
      %th Nome
      %th
      %th
      %th

  %tbody
    - @cidades.each do |cidade|
      %tr
        %td= cidade.nome
        %td= link_to 'Show', cidade
        %td= link_to 'Edit', edit_cidade_path(cidade)
        %td= link_to 'Destroy', cidade, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Cidade', new_cidade_path
%br
= link_to 'Página Inicial', root_path
